node_modules
!apps/web/.next/standalone/node_modules
.next
!apps/web/.next/standalone
!apps/web/.next/static
.turbo
dist
build
.git
.github
.vscode
.env
.env.local
*.log
coverage
.DS_Store
README.md
.gitignore
docker-compose.yml
